*{margin: 0;
    padding: 0;
    }
nav{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    width: 100vw;
    height: 67.25px;
    ;
    
}
.logo{
    
position: absolute;
width: 160px;
height: 64px;
left: 44px;
top: 3px;
}

#logo-img{
   
    position: absolute;
left: 7.88%;
right: 70.38%;
top: 26.56%;
bottom: 27.37%;

}

#courses{
/* Courses */


position: absolute;
left: 35.62%;
right: 20%;
top: 20.31%;
bottom: 51.56%;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 20px;

color: #000000;
}

#by-techno{
position: absolute;
left: 36.42%;
right: 20%;
top: 55.09%;
bottom: 21.88%;

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;

color: #000000;
}
.mid{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 308px;
left: 364.42px;
top: 36.25%;
bottom: 35.5%;
}
#link-discover{
position: static;
width: 64px;
height: 19px;
left: 0px;
top: 0px;
text-decoration: none;
font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #141D26;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 48px;
}

#link-courses{
    position:static;
width: 61px;
height: 19px;
left: 112px;
top: 0px;
text-decoration: none;
font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #141D26;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 48px;
}

#link-journey{
    position: static;
width: 87px;
height: 19px;
left: 221px;
top: 0px;
text-decoration: none;
font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #141D26;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 48px;
}

aside{position: absolute;
width: 264.09px;
height: 1876.29px;
left: -1px;
top: 67px;

background: #FFFAFA;
border: 0.63px solid #E2E3E4;
box-sizing: border-box;}

.asidenav{
    
position: absolute;
width: 135px;
height: 310.08px;
left: 64px;
top: 101px;

}

#subnav{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 135px;
height: 248px;
left: 64px;
top: 101px;

}
#aside-home{
    position: static;
width: 38px;
height: 17px;
left: 32px;
top: 3.5px;
text-decoration: none;
font-family: 'Moderat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}

#aside-explore{
    position: static;
    width: 50px;
    height: 17px;
    left: 32px;
    top: 3.5px;
    text-decoration: none;
    font-family: 'Moderat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #141D26;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

#aside-courses{
    position: static;
width: 55px;
height: 17px;
left: 32px;
top: 3.5px;
text-decoration: none;
font-family: 'Moderat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #C51F5D;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;

}

#aside-timelines{
    position: static;
width: 61px;
height: 17px;
left: 32px;
top: 3.5px;
text-decoration: none;
font-family: 'Moderat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #141D26;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}

#aside-hackathons{
    position: static;
width: 78px;
height: 17px;
left: 32px;
top: 3.5px;
text-decoration: none;
font-family: 'Moderat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #141D26;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}
#ps{
    position: absolute;
width: 105px;
height: 14px;
left: 72.55px;
top: 397.08px;

font-family: 'Moderat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

}
.personal-space{
    /* Personal Space */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 85px;
height: 192px;
left: 91px;
top: 426px;

}

